/* This is the css block for collapsible */
/*  Author: kntrieu */
/*  Date create:  March 12, 2017 */
.knt { 

    .k-collapse {
        .collapsible-header {
            background-color: #29B6F6;
            color: white;
        }

        .collapsible-body {
            padding: 0.5rem;
        }
    }
}
