/* This is the css block for collapsible */
/*  Author: kntrieu */
/*  Date create:  March 18, 2017 */
.knt { 

    .k-collection {

        .k-collection__title {
            font-weight: bold;
        }

        .k-collection__date {
            font-size: 12px;
            font-weight: bold;
        }
    }
}
