/* This is the css block for k-carousel directive */
/*  Author: kntrieu */
/*  Date create:  March 18, 2017 */
.knt { 

    .k-carousel {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
