/* This is the css block for k-card-tab directive */
/*  Author: kntrieu */
/*  Date create:  March 13, 2017 */
.knt { 

    .k-card-tab {
        margin-top: 0.5rem;
        /* Tabs */
        .tabs {
            .indicator {
                background-color: #f56629;
            }

            li {
                text-transform: none;
                a {
                    color: white;
                }
            }
        }
        /* End Tabs */

    }
}
