<div class="col s12 no-padding k-card-tab">
    <ul class="tabs tabs-fixed-width light-blue lighten-1">
        <li class="tab col s3"><a href="#test1">Thời khóa biểu</a></li>
        <li class="tab col s3"><a class="active" href="#test2">Lịch công tác</a></li>
    </ul>
</div>
<div id="test1" class="col s12 no-padding">
    <ul class="collection">
        <li class="collection-item dismissable">
            <div>Lorem ipsum dolor sit amet<a href="#!" class="secondary-content"><i class="icon-send"></i></a></div>
        </li>
        <li class="collection-item dismissable">
            <div>Consectetur adipiscing elit<a href="#!" class="secondary-content"><i class="icon-send"></i></a></div>
        </li>
        <li class="collection-item dismissable">
            <div>Eed do eiusmod tempor<a href="#!" class="secondary-content"><i class="icon-send"></i></a></div>
        </li>
        <li class="collection-item dismissable">
            <div>Et dolore magna aliqua<a href="#!" class="secondary-content"><i class="icon-send"></i></a></div>
        </li>
    </ul>
</div>
<div id="test2" class="col s12">Test 2</div>