<nav>
    <div class="nav-wrapper" style="background-color: #29B6F6">
        <ul class="left hide-on-med-and-down">
            <li><a href="/"><i class="icon-new_releases right"></i>Thông tin tuyển sinh</a></li>
            <li><a href="/"><i class="icon-stars right"></i>Kết quả thi học sinh giỏi tỉnh</a></li>
        </ul>
    </div>
</nav>
<div class="section page-sampe" ng-controller="sampleCtrl">
    <!--   Icon Section   -->
    <div class="row">
        <div class="col s12 m4">
            <k-collapse data="newsWidget" header-color="#1e88e5">
                <collapse-body>
                    <k-collection data="basicCollections" type="0" id="news-widget" direction="up"></k-collection>
                </collapse-body>
            </k-collapse>
            <k-collapse data="schoolNewsWidget">
                <collapse-body>
                    <k-collection data="basicCollections" type="0" id="school-new-widget"></k-collection>
                </collapse-body>
            </k-collapse>
            <k-collapse data="videoWidget">
                <collapse-body>
                    <div class="video-container">
                        <iframe src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </collapse-body>
            </k-collapse>
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header"><i class="icon-filter_drama"></i>First</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="icon-star"></i>Second</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="icon-whatshot"></i>Third</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>
        </div>
        <div class="col s12 m8">
            <k-carousel></k-carousel>
            <k-card-tab data="tabWidget"></k-card-tab>
            <k-card-tab data="tab2Widget"></k-card-tab>
            <div class="col s12 no-padding">
                <k-collapse data="docsWidget">
                    <collapse-body>
                        <k-collection data="basicCollections" type="1" id="documents"></k-collection>
                    </collapse-body>
                </k-collapse>
            </div>
        </div>
    </div>
</div>