<div class="section page-sampe">
    <!--   Icon Section   -->
    <div class="row">
        <div class="col s12 m4">
            <k-collapse data="newsWidget">
                <collapse-body>
                    <ul class="collection">
                        <li class="collection-item dismissable">
                            <div>Alvin<a href="#!" class="secondary-content"><i class="icon-send"></i></a></div>
                        </li>
                        <li class="collection-item dismissable">
                            <div>Alvin<a href="#!" class="secondary-content"><i class="icon-send"></i></a></div>
                        </li>
                        <li class="collection-item dismissable">
                            <div>Alvin<a href="#!" class="secondary-content"><i class="icon-send"></i></a></div>
                        </li>
                        <li class="collection-item dismissable">
                            <div>Alvin<a href="#!" class="secondary-content"><i class="icon-send"></i></a></div>
                        </li>
                    </ul>
                </collapse-body>
            </k-collapse>
            <k-collapse data="schoolNewsWidget"></k-collapse>
            <k-collapse data="teacherDocsWidget"></k-collapse>
            <k-collapse data="studentDocsWidget"></k-collapse>
        </div>

        <div class="col s12 m8">
            <k-collapse data="docsWidget">
                <collapse-body>
                    <ul class="collection">
                        <li class="collection-item avatar">
                            <img src="images/yuna.jpg" alt="" class="circle">
                            <span class="title">Title</span>
                            <p>First Line <br> Second Line
                            </p>
                            <a href="#!" class="secondary-content"><i class="icon-star"></i></a>
                        </li>
                        <li class="collection-item avatar">
                            <i class="icon-folder circle"></i>
                            <span class="title">Title</span>
                            <p>First Line <br> Second Line
                            </p>
                            <a href="#!" class="secondary-content"><i class="icon-star"></i></a>
                        </li>
                        <li class="collection-item avatar">
                            <i class="icon-stop circle green"></i>
                            <span class="title">Title</span>
                            <p>First Line <br> Second Line
                            </p>
                            <a href="#!" class="secondary-content"><i class="icon-star"></i></a>
                        </li>
                        <li class="collection-item avatar">
                            <i class="icon-play_arrow circle red"></i>
                            <span class="title">Title</span>
                            <p>First Line <br> Second Line
                            </p>
                            <a href="#!" class="secondary-content"><i class="icon-star"></i></a>
                        </li>
                    </ul>
                </collapse-body>
            </k-collapse>
        </div>
    </div>
</div>